check count of match data

In [1]:
select count(*) from dbo.match_data -- 14626

(No column name)
14626